body {
   background-color: tan;
    
}
#space {
    height: 40px;
    width: 3em;
}

header {
    display: flex;
    justify-content: space-around;
    background-position:auto;
    background-size: auto ;
    background-image: url(./Ghoul.jpg);
    color: red;
}
#bighead {
    height: 100px;
    width: 118px;
}

.meabout {
    display: flex;
}
ul {
    display: flex;
}

 ul li {
    list-style-type: none;
    justify-content: space-around;
    margin-left: 25px;
    color:red;
}
.me { 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: red;

}

/* section {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
} */
nav a:hover {
    color: red;
    background-color: blue;
  }
.header-container {
    display: flex;
    height: 100%;
    border-right:5px orange solid ;
    flex: 1 1 3%;
    color: black;
    justify-content: flex-start;
}

.work-container {
    display: flex;
    height: 100%;
    border-right:5px orange solid ;
    flex: 1 1 6%;
    color: black;
    justify-content: flex-start;
}

.big-image {
    display: flex;
    flex-wrap: wrap;
}
 .portfolio-box {
    display:flex;
    flex-wrap:wrap;

 }
/* .small-image {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 45%;
    border: 4px red solid;
} */

#box1 {
    border: 4px solid green;
 
}
.section-container {
    position: relative;
    flex: 6 4 80%;
    justify-content: flex-end;
    margin-left: 4%;
    background-repeat: no-repeat;
 
}

#box1-container {
    position: relative;
    margin: 0px 0px 0px 50px;
    flex: 1 1 80%;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-color: blue;
 
}
.container {
    position:absolute;
    text-align: center;
    color: white;
}


#text1 {
    display: flex;
    height: 55px;
    width: 193px;
    border: 12px solid lime;
    background-color: aqua;
}

#text2 {
    display: flex;
    flex-direction: column;
    text-decoration:solid green;
    
}

#text3 {
    display: flex;
    flex-direction: column;
}

footer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
}
.innerbox {
    border: 2px red solid;
    background-color: orange;
}
#aside {
    width: 8%;
}
 .portfolio-box {
    width:75%;
    display: flex;
    justify-content:space-between ;
 }
 .big-image {
width: 100%;
height: 200px;
/* background-image: url(./space.jpg); */
margin-bottom: 20px;
 }
 
 .small-image {
    width: 46%;
    height: 100px;
    /* background-image: url(./space.jpg); */
    border: 4px red solid;
    padding: 1%;
    justify-content: space-between;
    margin-bottom: 30px;
 }
@media screen and (min-width:400px) {
    body {
        flex-wrap: wrap;
    }
    .header-container{
        flex-wrap: wrap;
    }
    
}@media screen and (min-width:780px) {
    body {
        flex-wrap: wrap;
    }

    .header-container {
        flex-wrap: wrap;
        flex-direction: column;
    }
    
}